<form #priceCollectionMapForm="ngForm">
    <div class="p-grid">

        <div class="p-col-12">
            <h1>Novo Mapa de Coleta</h1>
          </div>

          <div class="p-grid p-col-12">

            <div class="p-col-1 p-fluid">
                <label>Código</label>
                <input type="text" pInputText name="id" [(ngModel)]="priceCollectionMap.id" disabled>
            </div>

            <div class="p-col-2 p-fluid">
                <label>Criação</label>
                <input type="text" pInputText name="dataRegistro" [(ngModel)]="priceCollectionMap.dataRegistro" >
            </div>

            <div class="p-col-2 p-fluid">
                <label>Status</label>
                <input type="text" pInputText name="status" [(ngModel)]="priceCollectionMap.status.nome" disabled>
            </div>

            <div class="p-col-6 p-fluid">
                <label>Descrição</label>
                <input type="text" pInputText name="descrição" [(ngModel)]="priceCollectionMap.descricao" >
            </div>

            <div class="p-col-1 p-fluid">
                <br>
                <button pButton label="Salvar" (click)="save()"></button>
              </div>
            

        </div>

        <div class="p-col-12">
            <p-tabView>
                <p-tabPanel header="Itens">
                    <div class="p-grid ">
                    
                        <div class="p-col-3  p-fluid ">
                            <label>Brick</label>
                            <p-dropdown [options]="brickList" name="brick" [(ngModel)]="itemAux.brick.id" placeholder="Selecione">
                            </p-dropdown>
                        </div>

                        <div class="p-col-3 p-fluid ">
                            <label>Produto</label>
                            <p-dropdown [options]="productList" name="produto" [(ngModel)]="itemAux.produto.id" placeholder="Selecione">
                            </p-dropdown>
                        </div>


                        <div class="p-col-2 p-fluid ">
                            <label>Quantidade</label>
                            <input type="text" pInputText name="quantidade" [(ngModel)]="itemAux.quantidade">
                        </div>

                        <div class="p-col-2 p-fluid ">
                            <label>Unidade</label>
                            <p-dropdown [options]="unidades" name="unidades" [(ngModel)]="itemAux.unidade" placeholder="Selecione">
                            </p-dropdown>
                        </div>

                        <div class="p-col-2 p-fluid ">
                            <br>
                            <button pButton label="Adicionar" (click)= "addItem()"></button>
                        </div>

                        <p-table [value]="priceCollectionMap.itens" [paginator]="true" [rows]="10" [responsive]="true"  [globalFilterFields]="['id','nome','cnpj','tipoUsuario.nome']">
                            <ng-template pTemplate="caption">
                              <div class="table-header">
                                  <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                      placeholder="Pesquisar" />
                                  </span>
                              </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                              <tr>
                                <th class="p-col-2">Código</th>
                                <th class="p-col-2">Brick</th>
                                <th class="p-col-2">Produto</th>
                                <th class="p-col-2">Quantidade</th>
                                <th class="p-col-2"></th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-t>
                              <tr>
                                <td>{{t.id}}</td>
                                <td>{{t.brick.nome}}</td>
                                <td>{{t.produto.nome}}</td>
                                <td>{{t.quantidade + " " + t.unidade}}</td>
                                <td>
                                  <a pButton icon="pi pi-pencil" (click)="editUser(t.id)" pTooltip="Editar" tooltipPosition="top"></a>
                                  <a pButton icon="pi pi-trash" (click)="removeUser(t.id)" pTooltip="Excluir" tooltipPosition="top"
                                    style="margin-left: 10px"></a>
                          
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                          
                    </div>
                  
                </p-tabPanel>
                <p-tabPanel header="Orçamentos">
                    <div class="p-grid ">
                    
                        <p-table [value]="priceCollectionMap.itens" [paginator]="true" [rows]="10" [responsive]="true"  [globalFilterFields]="['id','nome','cnpj','tipoUsuario.nome']">
                            <ng-template pTemplate="caption">
                              <div class="table-header">
                                  <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                      placeholder="Pesquisar" />
                                  </span>
                              </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                              <tr>
                                <th class="p-col-2">Código</th>
                                <th class="p-col-2">Fornecedor</th>
                                <th class="p-col-2">Total a Vista</th>
                                <th class="p-col-2">Total a Prazo</th>
                                <th class="p-col-2"></th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-t>
                              <tr>
                                <td>{{t.id}}</td>
                                <td>{{t.brick.nome}}</td>
                                <td>{{t.produto.nome}}</td>
                                <td>{{t.quantidade + " " + t.unidade}}</td>
                                <td>
                                  <a pButton icon="pi pi-pencil" (click)="editUser(t.id)" pTooltip="Editar" tooltipPosition="top"></a>
                                  <a pButton icon="pi pi-trash" (click)="removeUser(t.id)" pTooltip="Excluir" tooltipPosition="top"
                                    style="margin-left: 10px"></a>
                          
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>

                        
                    </div>
                </p-tabPanel>
            </p-tabView>

            

        </div>
        

    </div>
</form>