<form #priceCollectionMapForm="ngForm">
    <div class="p-grid">

        <div class="p-col-12">
            <h1>Novo Mapa de Coleta</h1>
          </div>

          <div class="p-grid p-col-12">

            <div class="p-col-1 p-fluid">
                <label>Código</label>
                <input type="text" pInputText name="id" [(ngModel)]="priceCollectionMap.id" >
            </div>

            <div class="p-col-2 p-fluid">
                <label>Criação</label>
                <input type="text" pInputText name="dataRegistro" [(ngModel)]="priceCollectionMap.dataRegistro" >
            </div>

            <div class="p-col-2 p-fluid">
                <label>Status</label>
                <input type="text" pInputText name="status" [(ngModel)]="priceCollectionMap.status.nome">
            </div>

            <div class="p-col-6 p-fluid">
                <label>Descrição</label>
                <input type="text" pInputText name="descrição" [(ngModel)]="priceCollectionMap.descricao" >
            </div>

            <div class="p-col-1 p-fluid">
                <br>
                <button pButton label="Salvar" (click)="save()"></button>
              </div>
            

        </div>

        <div class="p-col-12">
            <p-tabView>
                <p-tabPanel header="Itens">
                    <div class="p-grid ">
                    
                        <div class="p-col-3  p-fluid ">
                            <label>Brick</label>
                            <p-dropdown [options]="brickList" name="brick" [(ngModel)]="itemAux.brick.id" placeholder="Selecione">
                            </p-dropdown>
                        </div>

                        <div class="p-col-3 p-fluid ">
                            <label>Produto</label>
                            <p-dropdown [options]="productList" name="produto" [(ngModel)]="itemAux.produto.id" placeholder="Selecione">
                            </p-dropdown>
                        </div>


                        <div class="p-col-2 p-fluid ">
                            <label>Quantidade</label>
                            <input type="text" pInputText name="quantidade" [(ngModel)]="itemAux.quantidade">
                        </div>

                        <div class="p-col-2 p-fluid ">
                            <label>Unidade</label>
                            <p-dropdown [options]="unidades" name="unidades" [(ngModel)]="itemAux.unidade" placeholder="Selecione">
                            </p-dropdown>
                        </div>

                        <div class="p-col-2 p-fluid ">
                            <br>
                            <button pButton label="Adicionar" (click)= "adicionarItem()"></button>
                        </div>
                    </div>
                  
                </p-tabPanel>
                <p-tabPanel header="Orçamentos">
                    <div class="p-grid ">
                    
                        <div class="p-col-2  p-fluid ">
                            <label>Código</label>
                            <input type="text" pInputText name="Brick" [(ngModel)]="priceCollectionMap.itens">
                        </div>

                        <div class="p-col-2 p-fluid ">
                            <label>Fornecedor</label>
                            <input type="text" pInputText name="Produto" [(ngModel)]="priceCollectionMap.itens">
                        </div>

                        <div class="p-col-2 p-fluid ">
                            <label>Total a vista</label>
                            <input type="text" pInputText name="Marca" [(ngModel)]="priceCollectionMap.itens">
                        </div>

                        <div class="p-col-2 p-fluid ">
                            <label>Total a prazo</label>
                            <input type="text" pInputText name="Marca" [(ngModel)]="priceCollectionMap.itens">
                        </div>

                        <div class="p-col-2 p-fluid ">
                            <label>Aprovado</label>
                            <input type="text" pInputText name="Marca" [(ngModel)]="priceCollectionMap.itens">
                        </div>

                        
                    </div>
                </p-tabPanel>
            </p-tabView>

        </div>

    </div>
</form>