<form #productForm="ngForm">
  <div class="p-grid">

    <div class="p-col-12">
      <h1 *ngIf="!idProduct">Novo Produto</h1>
      <h1 *ngIf="idProduct">Editar Produto</h1>
    </div>

    <div class="p-col-6 p-md-3 p-fluid">
      <label>Código</label>
      <input type="text" pInputText name="id" [(ngModel)]="product.id" disabled>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Nome</label>
      <input type="text" pInputText name="nome" #productName="ngModel" [(ngModel)]="product.nome" required
        minlength="4">

      <app-msg-validation [control]="productName" error="required" text="Informe o nome do produto.">
      </app-msg-validation>

      <app-msg-validation [control]="productName" error="minlength"
        text="O nome do produto deve ter no mínimo {{ productName.errors?.minlength?.requiredLength }} caracteres.">
      </app-msg-validation>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Descrição</label>
      <input type="text" pInputText name="descricao" #productDescription="ngModel" [(ngModel)]="product.descricao"
        required>
      <app-msg-validation [control]="productDescription" error="required" text="Informe descrição do produto.">
      </app-msg-validation>
    </div>

    <div class="p-col-12 p-md-4 p-fluid">
      <label>NCM</label>
      <div class="p-grid inputGroup">

        <div class="p-col inputItem-first">
          <p-dropdown [options]="productNCMs" name="ncm" #productNCM="ngModel" [(ngModel)]="product.ncm" [filter]="true"
          placeholder="Selecione" required></p-dropdown>
        </div>

        <div class="p-col-1 inputItem-last" *ngIf="!isPopup">
          <button type="button" pButton pRipple icon="pi pi-plus" styleClass="p-button-warn" (click)="showNcmDialog()"></button>
        </div>

      </div>
      <app-msg-validation [control]="productNCM" error="required" text="Informe o segmento do produto.">
      </app-msg-validation>
    </div>

    <div class="p-col-12 p-md-4 p-fluid">
      <label>GTIN</label>
      <div class="p-grid inputGroup">

        <div class="p-col inputItem-first">
          <p-dropdown [options]="productGTINs" name="gtin" #productGTIN="ngModel" [(ngModel)]="product.gtin.id"
            [filter]="true" placeholder="Selecione" required></p-dropdown>
        </div>

        <div class="p-col-1 inputItem-last" *ngIf="!isPopup">
          <button type="button" pButton icon="pi pi-plus" (click)="showGtinDialog()"></button>
        </div>

      </div>
      <app-msg-validation [control]="productGTIN" error="required" text="Informe a família do produto.">
      </app-msg-validation>
    </div>

    <div class="p-col-12 buttonGroup">
      <p-button styleClass="p-button-prymary" label="Salvar" (onClick)="saveProduct(productForm)"
        [disabled]="productForm.invalid"></p-button>

      <p-button styleClass="p-button-secondary" label="Limpar" (onClick)="clearProduct(productForm)"></p-button>

      <p-button styleClass="p-button-danger" label="Excluir" (onClick)="removeProduct(productForm)"
        [disabled]="!idProduct"></p-button>

    </div>


  </div>

</form>
