<form #userForm="ngForm">
  <div class="p-grid">

    <div class="p-col-12">
      <h1 *ngIf="!idUser">Novo Usuário</h1>
      <h1 *ngIf="idUser">Editar Usuário</h1>
    </div>

    <div class="p-col-6 p-md-3 p-fluid">
      <label>Código</label>
      <input type="text" pInputText name="id" [(ngModel)]="user.id" disabled>
    </div>
    <div class="p-col-6 "></div>


    <div class="p-col-12 p-md-8 p-fluid">
      <label>Nome</label>
      <input type="text" pInputText name="nome" #userName="ngModel" [(ngModel)]="user.nome" required minlength="10">

      <app-msg-validation [control]="userName" error="required" text="Informe o nome do Usuário.">
      </app-msg-validation>

      <app-msg-validation [control]="userName" error="minlength"
        text="O nome do Usuário deve ter no mínimo {{ userName.errors?.minlength?.requiredLength }} caracteres.">
      </app-msg-validation>
    </div>

    <div class="p-col-12 p-md-4 p-fluid">
      <label>Email</label>
      <input type="text" pInputText name="email" #userEmail="ngModel" [(ngModel)]="user.email" required email>

      <app-msg-validation [control]="userEmail" error="required" text="Informe email do Usuário.">
      </app-msg-validation>

      <app-msg-validation [control]="userEmail" error="email" text="Formato de email inválido.">
      </app-msg-validation>
    </div>

    <div class="p-col-12 p-md-2 p-fluid">
      <label>CNPJ</label>
      <p-inputMask name="cnpj" #userCNPJ="ngModel" [(ngModel)]="user.cnpj" mask="99.999.999/9999-99" required></p-inputMask>

      <app-msg-validation [control]="userCNPJ" error="required" text="Informe o CNPJ.">      </app-msg-validation>
    </div>

    <div class="p-col-12 p-md-10 p-fluid">
      <label>Razão Social</label>
      <input type="text" pInputText name="razaoSocial" #userSocial="ngModel" [(ngModel)]="user.razaoSocial" required>

      <app-msg-validation [control]="userSocial" error="required" text="Informe o CNPJ do Usuário.">
      </app-msg-validation>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Nome Fantasia</label>
      <input type="text" pInputText name="nomeFantasia" #userAlias="ngModel" [(ngModel)]="user.nomeFantasia" required>

      <app-msg-validation [control]="userAlias" error="required" text="Informe o CNPJ do Usuário.">
      </app-msg-validation>
    </div>

      <div class="p-col-12 p-md-4 p-fluid">
      <label>Tipo</label>

      <div class="p-col-12">
        <p-dropdown [options]="userTypes" name="tipoUsuario" #userType="ngModel" [(ngModel)]="user.tipoUsuario"
          [filter]="true" placeholder="Selecione" required></p-dropdown>
      </div>

      <app-msg-validation [control]="userType" error="required" text="Informe o segmento do Usuário.">
      </app-msg-validation>
    </div>

    <div class="p-col-12 buttonGroup">
      <p-button styleClass="p-button-prymary" label="Salvar" (onClick)="saveUser(userForm)"
        [disabled]="userForm.invalid"></p-button>

      <p-button styleClass="p-button-secondary" label="Limpar" (onClick)="clearUser(userForm)"></p-button>

      <p-button styleClass="p-button-danger" label="Excluir" (onClick)="removeUser(userForm)" [disabled]="!idUser">
      </p-button>

    </div>


  </div>

</form>
