<form #familyForm="ngForm">
  <div class="p-grid">

    <div class="p-col-12">
      <h1 *ngIf="!idFamily">Nova Familia</h1>
      <h1 *ngIf="idFamily">Editar Familia</h1>
    </div>

    <div class="p-col-6 p-md-3 p-fluid">
      <label>Código</label>
      <input type="text" pInputText name="id" [(ngModel)]="family.id" disabled>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Nome</label>
      <input type="text" pInputText name="nome" #familyName="ngModel" [(ngModel)]="family.nome" required minlength="4">

      <app-msg-validation [control]="familyName" error="required" text="Informe o nome do Familia.">
      </app-msg-validation>

      <app-msg-validation [control]="familyName" error="minlength"
        text="O nome do Familia deve ter no mínimo {{ familyName.errors?.minlength?.requiredLength }} caracteres.">
      </app-msg-validation>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Descrição</label>
      <input type="text" pInputText name="descricao" #familyDescription="ngModel" [(ngModel)]="family.descricao"
        required>
      <app-msg-validation [control]="familyDescription" error="required" text="Informe descrição da Familia.">
      </app-msg-validation>
    </div>

    <div class="p-col-12 p-md-4 p-fluid">
      <label>Segmento</label>
      <div class="p-grid inputGroup">
        <div class="p-col inputItem-first">

          <p-dropdown [options]="familySegments" name="segment" #familySegment="ngModel"
            [(ngModel)]="family.segmento.id" [filter]="true" placeholder="Selecione" required></p-dropdown>
        </div>

        <div class="p-col-1 inputItem-last" *ngIf="!isPopup">
          <button type="button" pButton pRipple icon="pi pi-plus" styleClass="p-button-warn"
            (click)="newSegment()"></button>
        </div>

      </div>

      <app-msg-validation [control]="familySegment" error="required" text="Informe a família da Familia.">
      </app-msg-validation>
    </div>

    <div class="p-col-12 buttonGroup">
      <p-button styleClass="p-button-prymary" label="Salvar" (onClick)="saveFamily(familyForm)"
        [disabled]="familyForm.invalid"></p-button>

      <p-button styleClass="p-button-secondary" label="Limpar" (onClick)="clearFamily(familyForm)"></p-button>

      <p-button styleClass="p-button-danger" label="Excluir" (onClick)="removeFamily(familyForm)"
        [disabled]="!idFamily"></p-button>

    </div>
  </div>
</form>
