<form #priceMapForm="ngForm">
  <div class="p-grid">

    <div class="p-col-12" *ngIf="showAll">
      <h1>Mapas de Coleta de Preço</h1>
    </div>

    <div class="p-grid p-col-12 p-fluid">

      <div class="p-fluid" [ngClass]="{ 'p-col-2': showAll, 'p-col-4': !showAll }">
        <label>Estado</label>
        <p-dropdown [options]="statusList" name="idStatus" [(ngModel)]="filter.idStatus" placeholder="Selecione">
        </p-dropdown>
      </div>

      <div class="p-fluid" [ngClass]="{ 'p-col-2': showAll, 'p-col-4': !showAll }">
        <label>Registro Inicio</label>
        <p-calendar name="dataRegistroInicial" dateFormat="dd/mm/yy" [maxDate]="filter.dataRegistroFinal"
          [(ngModel)]="filter.dataRegistroInicial">
        </p-calendar>
      </div>

      <div class="p-fluid" [ngClass]="{ 'p-col-2': showAll, 'p-col-4': !showAll }">
        <label>Registro Fim</label>
        <p-calendar name="dataRegistroFinal" dateFormat="dd/mm/yy" [minDate]="filter.dataRegistroInicial"
          [(ngModel)]="filter.dataRegistroFinal">
        </p-calendar>
      </div>

      <div class="p-fluid" [ngClass]="{ 'p-col-2': showAll, 'p-col-4': !showAll }">
        <label>Fechamento Inicio</label>
        <p-calendar name="dataEncerramentoInicial" dateFormat="dd/mm/yy" [maxDate]="filter.dataEncerramentoFinal"
          [(ngModel)]="filter.dataEncerramentoInicial">
        </p-calendar>
      </div>

      <div class="p-fluid" [ngClass]="{ 'p-col-2': showAll, 'p-col-4': !showAll }">
        <label>Fechamento Fim</label>
        <p-calendar name="dataEncerramentoFinal" dateFormat="dd/mm/yy" [minDate]="filter.dataEncerramentoInicial"
          [(ngModel)]="filter.dataEncerramentoFinal">
        </p-calendar>
      </div>

      <div class="p-grid p-ai-end vertical-container" [ngClass]="{ 'p-col-2': showAll, 'p-col-4': !showAll }">
        <button pButton label="Pesquisar" (click)="consult()"></button>
      </div>

    </div>


    <div class="p-col-12">

      <p-table #dt [value]="priceMapList" [paginator]="true" [rows]="5" [responsive]="true">

        <ng-template pTemplate="header">
          <tr>
            <th class="p-col-2">Data</th>
            <th class="p-col">Comprador</th>
            <th class="p-col-2">Estado</th>
            <th class="p-col-1">Ver Itens</th>
            <th class="p-col-2" *ngIf="isBuyer">Editar</th>
            <th class="p-col-2" *ngIf="isSeller">Gerar Orçamento</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-i>
          <tr>
            <td>{{ i.dataRegistro | date: 'dd/MM/yy' }}</td>
            <td>{{ i.comprador?.nome }}</td>
            <td>{{ i.status.nome }}</td>
            <td>
              <button pButton label="Ver" (click)="showItems(i.id, i.itens)"></button>
            </td>
            <td *ngIf="isSeller">
              <button pButton label="Gerar" (click)="createBudget(i.id)"></button>
            </td>
            <td *ngIf="isBuyer">
              <button pButton label="Editar" (click)="editMap(i.id)"></button>
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>



  </div>
</form>
