<nav class="navbar">

  <div class="container">
    <div class="p-grid">

      <div class="p-col-2">
        <a class="navbar-toggle" (click)="menu.toggle($event)" ><i class="pi pi-bars" style="font-size: 2em;"></i></a>
      </div>

      <div class="p-col-7 navbar-title">
        <label>Orça Online</label>
      </div>

      <div class="p-col-2 navbar-user">
        <label>{{user.nome}}</label>
      </div>

      <div class="p-col-1 p-fluid">
        <button *ngIf="logedUser()" pButton class="p-button-danger" label="Logout" (click)="logout()"></button>
        <button *ngIf="!logedUser()" pButton class="p-button-success" label="Login" routerLink="/login"></button>
      </div>

    </div>
  </div>

  <div *ngIf="!closed">
    <p-menubar #menu [model]="items"  [style]="{'top':'0px', 'left':'0px'}"></p-menubar>
  </div>


</nav>

<div>
  <p-tieredMenu #menu [model]="items" [popup]="true" [style]="{'top':'0px', 'left':'0px'}"></p-tieredMenu>
</div>
<!-- menu.toggle($event);  -->
