<nav class="navbar">

  <div class="container">
    <div class="p-grid">

      <div class="p-col-2">
        <a class="navbar-toggle" (click)="menu.toggle($event)" ><i class="pi pi-bars" style="font-size: 2em;"></i></a>
      </div>

      <div class="p-col-8 navbar-title">
        <label>Orça Online</label>
      </div>

      <div class="p-col-2 navbar-user">
        <label>Bem Vindo</label>
      </div>

    </div>
  </div>

</nav>

  <div >
    <p-tieredMenu #menu [model]="items"[popup]="true"
    [style]="{'top':'0px', 'left':'0px'}"
    ></p-tieredMenu>
    <!-- appendToBody="true" -->
  </div>

