<form #productListForm="ngForm">
	<div class="p-grid">

		<div class="p-col-12">
			<h1>Produtos</h1>
		</div>

		<div class="p-col-4 p-md-1 p-fluid">
			<label>Código</label>
			<input type="text" pInputText name="id" [(ngModel)]="filter.id">
		</div>

		<div class="p-col-8 p-md-11 p-fluid">
			<label>Nome</label>
			<input type="text" pInputText name="nome" #productName="ngModel" [(ngModel)]="filter.nome">
		</div>

		<div class="p-col-12 p-md-4 p-fluid">
			<label>NCM</label>
			<p-dropdown [options]="productSegments" name="ncm" #productSegment="ngModel"
				[(ngModel)]="filter.ncm"></p-dropdown>
		</div>

		<div class="p-col-12 p-md-4 p-fluid">
			<label>GTIN</label>
			<p-dropdown [options]="productFamilies" name="gtin" #productFamily="ngModel"
				[(ngModel)]="filter.gtin"></p-dropdown>
		</div>

		<p-table [value]="products">
			<ng-template pTemplate="header">
				<tr>
					<th>Codigo</th>
					<th>Nome</th>
					<th>Descricao</th>
					<th>NCM</th>
					<th>GTIN</th>
					<th>Classe</th>
					<th></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-product>
				<tr>
					<td>{{product.id}}</td>
					<td>{{product.nome}}</td>
					<td>{{product.descricao}}</td>
					<td>{{product.ncm}}</td>
					<td>{{product.gtin}}</td>
					<td>{{product.classe}}</td>
					<td>
						<p-button icon="pi pi-pencil"(onClick)="editProduct(product.id)"></p-button>
					</td>
				</tr>
			</ng-template>
		</p-table>

	</div>
</form>