<div class="container">

<!-- {{ auth.jwtPayload | json}} -->

  <div class="ui-g">
    <div class="ui-fluid ui-g-12">
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" placeholder="Email" #email/>
    </div>
  </div>

  <div class="ui-fluid ui-g-12">
    <div class="ui-g-12 ui-md-4 ui-fluid">
      <label>Senha</label>
      <input pInputText type="text" placeholder="Senha" #senha/>
  </div>
</div>

<div class="ui-fluid ui-g-12">
  <div class="ui-g-12 ui-md-4 ui-fluid">
    <br>
    <button pButton label="Login" (click)="login(email.value, senha.value)"></button>
  </div>
</div>

</div>


</div>
