/* You can add global styles to this file, and also import other style files */
html {
  font-family: Arial, Helvetica, sans-serif;
  color: #4d4e4f;
}
body{
  margin: 0px auto;
  padding: 0px 0px;
}


label {
  font-weight: bold;
}

@media (min-width: 1200px) {
	.container {
    width: 1170px;
    margin: 0px auto;
	}
}

.p-fluid p-dropdown {
  width: 100%;
}

